<a href="https://colab.research.google.com/github/VladGama/ML-Suporte-RH-/blob/main/MACHINE_LEARNING_PREVIS%C3%83O_DE_SAL%C3%81RIO_(RANDOM_FOREST).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 PROBLEMA DE NEGÓCIO

Esse script demonstra a criação de uma Máquina Preditiva que, a partir de dados históricos dos colaboradores, determine quais deles vão receber o valor acima de R$ 50.000,00 ao ano.

2 ANÁLISE EXPLORATÓRIO DOS DADOS
2.1  IMPORTAÇÃO DAS BIBLIOTECAS DE ANÁLISE DE DADOS E VISUALIZAÇÃO

In [ ]:
!pip install ydata-profiling

In [ ]:
#IMPORTA BIBLIOTECAS

In [ ]:
import pandas as pd
from ydata_profiling import ProfileReport
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

2.2 IMPORTAÇÃO DOS DADOS PARA ANÁLISE EXPLORATÓRIA

In [ ]:
data=pd.read_csv('https://raw.githubusercontent.com/llSourcell/Best-Programming-Languages-for-Machine-Learning/master/adults.txt', sep=',')
data

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

2.3  CRIAÇÃO DE UM RELATÓRIO PARA AJUDAR NA ANÁLISE EXPLORATÓRIA

In [ ]:
from ydata_profiling import ProfileReport
profile=ProfileReport(data, title='Relatório Base de Dados', html={'style':{'full_width':True}})
profile.to_notebook_iframe()
profile.to_file(output_file="Relatório Base de Dados.html")

2.4  PRÉ-PROCESSAMENTO DE DADOS

In [ ]:
for variaveis in ['sex', 'race', 'occupation', 'education', 'workclass', 'marital_status','relationship', 'native_country' ]:
  data[variaveis]=LabelEncoder().fit_transform(data[variaveis])

In [ ]:
data

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,7,77516,9,13,4,1,1,4,1,2174,0,40,39,<=50K
1,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,<=50K
2,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,<=50K
3,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,<=50K
4,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,4,257302,7,12,2,13,5,4,0,0,0,38,39,<=50K
32557,40,4,154374,11,9,2,7,0,4,1,0,0,40,39,>50K
32558,58,4,151910,11,9,6,1,4,4,0,0,0,40,39,<=50K
32559,22,4,201490,11,9,4,1,3,4,1,0,0,20,39,<=50K
32560,52,5,287927,11,9,2,4,5,4,0,15024,0,40,39,>50K

3  MANIPULAÇÃO E TRATAMENTOS DE DADOS

In [ ]:
!pip install scikit-learn
import sklearn
from sklearn.model_selection import train_test_split

Requirement already satisfied: scikit-learn in /usr/local/lib/python3.10/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn) (3.3.0)

3.1  SELECIONA VARIÁVEIS INPUT E OUTPUT

3.1.1  INPUT

In [ ]:
X = data[['sex', 'race', 'hours_per_week', 'occupation', 'education', 'workclass', 'marital_status','relationship']]

3.1.2  OUTPUT

In [ ]:
Y = data['salary'].value_counts().tolist()

3.2 PREPARA DADOS PARA MODELAGEM DE MACHINE LEARNING.

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split

X = data.drop('salary', axis=1)
Y = data['salary']

3.3  SEPARANDO DADOS PARA TREINO E TESTE

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

4	MÁQUINA PREDITIVA

4.1 CRIA O MODELO

In [ ]:
clf_RF = RandomForestClassifier(n_estimators=1000)

4.2 TREINA MODELO

In [ ]:
clf_RF=clf_RF.fit(X_train, y_train)

5 AVALIAÇÃO DA MÁQUINA PREDITIVA

In [ ]:
accuracy = clf_RF.score(X_test, y_test)

print('accuracy:', str(accuracy))

accuracy: 0.8622754491017964